* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.carousel-item {
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease !important;
}

header {
    background-color: rgb(30, 30, 30);
    font-weight: bold;
    z-index: 1000;
    top: 0;
    height: 50px;
    position: relative;
}
.navbar{
    font-size: small;
    bottom: 10px;
}
.navbar-nav .nav-item + .nav-item {
    margin-left: 15px;
}
.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
    top: -10px;
}
.navbar-light .navbar-text {
    color: rgba(255, 255, 255, 0.8) !important;
}

.navbar-nav .nav-item .nav-link {
    font-family: 'Arial', sans-serif;
    color: rgba(255, 255, 255, 0.8)!important;
    position: relative;
    padding: 5px 10px;
    transition: color 0.3s ease, padding 0.3s ease, transform 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:focus {
    color: #e4af28 !important;
    padding: 5px 15px;
    transform: translateY(-2px);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.navbar-light .navbar-brand {
    color: rgb(255, 255, 255) !important;
    font-variant-caps: petite-caps;
    margin-bottom: 20px;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}
.profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.navbar-light .navbar-brand:hover {
    color: #ffdd00 !important;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6);
}
.navbar-brand img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
 
}
.nav-link img{
    border: 3px solid #fff;
}

.navbar-toggler {
    border: none; 
    background-color: transparent; 
}
.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0.5); 
    border: none !important;
}
.navbar-toggler:focus {
    outline:none; 
    box-shadow: none; 
}
.navbar-toggler:focus :hover{
    outline-color:rgb(18, 83, 168);  ;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")!important; 
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background-color: #4b4a4a; 
}

.navbar-collapse {
    text-transform: uppercase;
    text-align: end;
}
.nav-link img{
    border: 3px solid #fff;
}


.profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.collapse.show {
    transition: all 0.4s ease;
    background-color: #23517b;
}

.separator {
    margin: 0 10px; 
    font-size: 15px;
    color: #6c757d; 
}
.btn-lg {
    margin-bottom: 100px!important;
}
.btn-light {
    color: #ffffff!important;
    background-color: #abbb00!important;
    border: none!important;
}
.btn-light:hover {
    color: black!important;
    background-color: white!important;
}

#sidebar {
    background-color: #0b0d10;
    height: 100vh;
    padding: 20px;
    font-size: 14px;
    max-width: 250px;
}


#sidebar .navbar-text {
    font-size: 12px;
    color: white;
    background-color: #2980b9;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    
}

.sidebar .nav-link {
    color: #7187de !important;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 4px;
}

.sidebar .nav-link:hover {
    color: #fbc531;
    background-color: #273c75;
}

.bg-dark {
    background-color:#607d8b70 !important;
    padding: 20px;
    height: 100%;
}
.nav-links .nav-link {
    color: #000000 !important;
    font-size: 16px;
    padding: 10px;
    background-color: #ffffff; 
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
    min-height: 60px; 
   
}
.nav-links li{
    list-style: none;
}

.nav-links .nav-link i {
    font-size: 20px;
    color: #fbc531; 
    margin-right: 15px; 
}

.nav-links .nav-link:hover {
    color: #7187de !important;
    background-color: #273c75;
}

.nav-links .nav-item {
    margin-bottom: 10px; 
}


#main-content {
    padding: 20px;
    font-size: 14px;
    background-color: #f5f6fa;
}

.col-md-8 {
    flex: 1;
    max-width: 100%;
}

.dashboard-summary {
    margin: 10px 0;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 250px;
    box-sizing: border-box;
    margin: 0 auto; /* Center cards */
}

.interactive-card {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.interactive-card:hover {
    background-color: #f5f6fa;
    transform: scale(1.02);
}

.icon-container {
    font-size: 1.5rem;
    color: #2980b9;
    margin-right: 15px;
    flex-shrink: 0;
}

.info-container {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.card-title {
    font-size: 12px;
    color: #2980b9;
    margin-bottom: 0;
    font-weight: bold;
}

.card-text {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 500;
    color: #D93025;
}

.recent-activities, .notifications-summary {
    margin-top: 20px;
}


@media (max-width: 867px) {
    .card {
        flex-direction: column;
        align-items: flex-start; 
        height: auto; 
        text-align: left;
        font-size: 14px;
    }

    .icon-container {
        margin-bottom: 10px;
    }
    
    .info-container {
        align-items: flex-start;
        text-align: left;
    }
    
 .card-title, .card-number, .card-text {
        font-size: 10px; 
    }

    .info-container  .card-text {
        font-size: 18px; 
    }
}


.recent-activities ul, .notifications-summary ul {
    list-style: none;
    padding-left: 0;
}

.recent-activities li, .notifications-summary li {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

h2 {
    font-size: 20px;
    color: #2980b9;
    padding-bottom: 5px;
}


    .profile-card {
       
        max-width: 200px;
        margin: 0 auto;
    }
    
    .profile-img {
        width: 100%; 
        height: 200Px;
    }
    
    .list-unstyled {
    padding-left: 0;
    list-style: none;
    margin-top: 5%;
    margin-left: 10%;}
    
    .list-unstyled li{

        margin-top: 4%;
    }
    .detail-label {
        font-weight: bold;
        font-size: 1.1em; 
    }
    
    .detail-value {
        font-size: 1.1em; 
    }





    .footer-links a {
        color: #f8f9fa;
        text-decoration: none;
        margin: 10px 0;
        display: flex;
        align-items: center;
        font-size: 16px;
        transition: color 0.3s, background-color 0.3s; 
    }
    
    .footer-links a i {
        margin-right: 8px;
    }
    
    .footer-links a:hover {
        text-decoration: underline;
        color: #ffc107;
        background-color: rgba(255, 255, 255, 0.1); 
        padding: 5px;
        border-radius: 5px;
    }
    
    footer {
        background: #343a40;
        color: #fff;
        padding: 40px 0;
    }
    
    .footer-links h5 {
        margin-bottom: 20px;
        font-size: 1.25rem;
        color: #ffc107; 
    }
    
    .footer-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 15px; 
    }
    
    .container {
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 15px;
    }
    
    @media (max-width: 768px) {
        .footer-links {
            text-align: center;
        }
        .footer-links a {
            display: block;
            margin-bottom: 10px;
        }
    }

