body {
    font-family: Arial, sans-serif;
    background-image: url("../images/login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-modal {
    max-width: 400px;
    width: 100%; 
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    background-color: rgba(0, 0, 0, 0.7); 
    height: 500px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
}

.login-modal h5 {
    text-align: center;
    margin-bottom: 20px;
    color: #f1c40f;
    font-family: cursive;
    font-weight: bolder;
    font-size: x-large;
    position: relative;
    top: 50px;
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.7);
    color: #000; 
}
.input-group{
    position: relative;
    top: 40px;
    align-items: stretch;
}

.btn-yellow {
    background-color: #f1c40f;
    border-color: #f1c40f;
    color: white;
    width: 100%;
    padding: 10px;
    position: relative;
    top: 50px;
}
.btn-yellow:hover{
    background-color: azure;
    border: none;
}
p{
    color: aliceblue;
}

.text-center {
    margin-top: 15px;
}

.text-muted {
    color: #ffffff !important;
}

.text-center a {
    color: #f1c40f;
}

.text-center a:hover {
    text-decoration: none;
    color: #ffffff; 
}
