/* public/css/register.css */

body {
    font-family: Arial, sans-serif;
    background-image: url("/images/register.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 500px;
}

.register-modal {
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    background-color: rgba(90, 90, 90, 0.7);
}

.register-modal h5 {
    margin-bottom: 1.5rem;
    font-size: 1.75rem;
    text-align: center;
    color:#c8e3ff;
    font-weight: bold;
}

.role-btn {
    width: 100%;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    margin: 0.2rem;
    background-color: antiquewhite;
}

.role-btn:hover {
    opacity: 0.8;
   }

.role-btn.active {
    background-color: #007bff;
    color: white;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    border-radius: 4px;
    box-shadow: none;
}

.form-control-file {
    border-radius: 4px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 4px;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.text-center a {
    color: #007bff;
    text-decoration: none;
}

.text-center a:hover { 
    text-decoration: underline;
}
